<form (ngSubmit)="onSubmit(titleInput.value, textInput.value)" #form>
   <app-control label="Title">
      <input name="title" id="title" #titleInput #input />
   </app-control>

   <!-- #input p' @ContentChild en ControlComponent -->

   <app-control label="Request">
      <textarea
         name="request"
         id="request"
         rows="3"
         #textInput
         #input
      ></textarea>
   </app-control>

   <p>
      <!-- como appButton es MI boton, no el normal, al poner la referencia #btn esta va a ser una referencia al componente y NO al HTML "boton" -->
      <!-- lo mismo pasa al poner una referencia en cualquier componente creado por mi -->
      <button appButton #btn>
         Submit
         <span class="icon">→</span>
      </button>
   </p>
</form>
